force-app/main/default/flows/Update_Next_Steps_for_Closed_Opptys.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Update_Next_Steps_for_Closed_Lost</name>
        <label>Update Next Steps for Closed Lost</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Closed_Opportunity_Loop.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reach out to client for feedback</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Closed_Opportunity_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Opportunity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Next_Steps_for_Closed_Won</name>
        <label>Update Next Steps for Closed Won</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Closed_Opportunity_Loop.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nurture and upsell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Closed_Opportunity_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Opportunity_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Closed_Status</name>
        <label>Closed Status</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Next_Steps_for_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed Lost</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Opportunity_Loop.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Steps_for_Closed_Won</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <description>This flow updates the Next Step field on closed opportunities. The next steps are set based on whether the opportunity was closed won or closed lost.</description>
    <environments>Default</environments>
    <interviewLabel>Update Next Steps for Closed Opptys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Next Steps for Closed Opptys</label>
    <loops>
        <description>Loop through the closed opportunities and update the NextStep field</description>
        <name>Closed_Opportunity_Loop</name>
        <label>Closed Opportunity Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_Closed_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Closed_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Closed_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get a list of closed opportunities</description>
        <name>Get_All_Closed_Opportunities</name>
        <label>Get All Closed Opportunities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Opportunity_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the opportunities</description>
        <name>Update_Closed_Opportunities</name>
        <label>Update Closed Opportunities</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Closed_Opportunities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Holds the updated opportunities</description>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
